<div class="tag">
  <div class="tag">
    <h2 class="tag">
      <%= l(tag.name, format: :long) %>
    </h2>

    <div class="tag">
      <%= button_to "Delete",
                    [quote, tag],
                    method: :delete,
                    class: "btn btn--light" %>
    </div>
  </div>
</div>
