<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <div class="header">
    <h1>New tag</h1>
  </div>

  <%= render "form", quote: @quote, tag: @tag %>
</main>
