.hash-tag {
  display: inline-block;
  background-color: #cee3f8;
  color: #1a1a1b;
  border-radius: 5000px;
  padding: 2px 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-weight: bold;

  &__name {
    flex: 1 1 100%;
    font-weight: bold;

    @include media(tabletAndUp) {
      flex: 1 1 0;
    }
  }

  &__actions {
    display: flex;
    padding: var(--space-xxs) var(--space-m);
    border-radius: 999px;
    background-origin: border-box; // Invisible borders with linear gradients
    background-color: transparent;
    border: solid 2px transparent;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: filter 400ms, color 200ms;
  
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      transition: filter 250ms, color 200ms;
    }
    
    .delete {
      margin-left: 10px;
      color: #ad3030
    }

    .edit {
      margin-left: 4px;
      color: #898989
    }

    @include media(tabletAndUp) {
      order: revert;
      flex: 0 0 10rem;
    }
  }

  &--form {
    display: flex;
    align-items: center; 
    
    &--header {
      margin-right: 8px; 
    }
  }
}
